html {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
    url('../Fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Regular.woff') format('woff'),
    url('../Fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes bold';
    src: 
    url('../Fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Bold.woff') format('woff'),
    url('../Fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 1120px;
    font-family: "TT Lakes", sans-serif;
    overflow-x: hidden;
    height: 535px;
}

header {
    display: none;
}

.container {
    background-color: #F8F8F8;
    width: 1120px;
    height: 535px;
    flex-shrink: 0;
}

.h1_svg {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;

}

h1 {
    color: #1B1C21;
    font-family: TT Lakes bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    margin-left: 30px;
    letter-spacing: -0.6px; 
}

.highlight {
   display: none;
}

.highlightPC {
    width: 3px;
    height: 40px;
}

.header-title {
    display: flex;
    align-items: center;
}

.repair_status {
    display: flex;
    align-items: center;
}

.repairPC {
    margin-right: 32px;
    margin-left: 8px;
}

.checkstatusPC {
    margin-right: 32px;
    margin-left: 9px; 
}

.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: px;
    margin-top: -24px;
    margin-left: 32px;
}

@media (min-width: 785px) {
    .navigation {
        padding-top: 8.37px;
    }
    
}

.brands {
    width: 233px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    text-wrap:nowrap;
    padding-left: 22.64px;
    padding-right: 21px;
    background: #FFF; 
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.devices {
    border: none;
    text-wrap:nowrap;
    background: transparent; 
    margin-left: 0px;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;    
    width: 219px;    
}

@media (min-width:785px) {
   .uslugi {
    display:none;
   }
}

.price {
    width: 119px;
    height: 39px;
    margin-left: 34px;
    margin-right: 27px;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px
}

.adress {
    width: 217px;
    text-wrap: nowrap;
    color: #7E7E82;
    font-family: TT Lakes;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: -0.2px
}

.special_price {
    width: 162px;
    margin-left: 8px;
    margin-right: 40px;
    padding-top: 1px;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px
}

.reviews {
    width: 71px;
    color: #7E7E82;
    margin-left: 22px;
    margin-right: auto;
    margin-top: 14.63px;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px
}

.text_photo {
    display: flex;
    justify-content: space-between;
    margin-top: -20px;
    margin-right: 28.65px;
    margin-left: 34px;
 }


.about-us {
    margin-right: 36px;
    width: 490px;
 
}

.text_about {
    margin-top: 40px;
    color: #1B1C21;
    font-family: TT Lakes, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.text_about2 {
    padding-top: 10px;
    color: #1B1C21;
    font-family: TT Lakes, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.expand {
    display: flex;
    align-items: center;
    color: #1B1C21;
    background-color: #F8F8F8;
    border-style: none;
    margin-top: -5px;
}

.expand_down {
    width: 24px;
    height: 24px;
}

.read_more {
    margin-left: 3px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.photo {
    display: none;
}

.photoPC {
    width: 531.346px;
    height: 307px;
    margin-top: 30px;
    border-radius: 6px;
    
}
