html {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
    url('../Fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Regular.woff') format('woff'),
    url('../Fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes bold';
    src: 
    url('../Fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Bold.woff') format('woff'),
    url('../Fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    width: 784px;
    font-family: "TT Lakes", sans-serif;
    overflow-x: hidden;
    height: 504px;

}

@media (max-width:785px) {

.repair_status {
    display: none;
    }
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9FFF5;

    height: 88px;
    flex-shrink: 0;
    align-items: center;
    width: 768px;
    padding-left: 24px;
    margin-right: 16px;
}

.burger {
    margin-bottom: 24px;
}

.divider_1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 28px;
    height: 32px;
}

.logo {
    margin-top: 18.59px;
    margin-bottom: 18.59px;
}

.call {
    margin-right: 11px;
}

.chat {
    margin-right: 11px;
}

.divider_2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 4px;
    height: 32px;
}

.checkstatus {
    margin-left: 11px;
    margin-right: 24px;
}

.container {
    background-color: #F8F8F8;
    width: 769px;
    height: 416px;
    flex-shrink: 0;
}

h1 {
    color: #1B1C21;
    margin-left: 20px;
    font-family: TT Lakes bold;
    font-size: 28px;   
}

@media (max-width:785px) {

    .highlightPC {
        display: none;
        }
    }

.header-title {
    display: flex;
    align-items: center;
}




.navigation {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-left: 24px;
    padding-top: 20px;
}



.devices
{
    border-radius: 6px;
    border: 2px solid #B8FFEC;
    text-wrap:nowrap;
    background: #FFF; 
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;   
    width: 248px;
    height: 40px;
    margin-left: 28px;
    padding-right: 18px;
    padding-left: 16px;
}


.uslugi {
    margin-left: 12px;
    width: 185px;
    text-wrap:nowrap;
    color: #7E7E82;
    background-color: transparent;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
}

.price {
    width: 128.170px;
    margin-left: 24.83px;
    text-wrap: nowrap;    
    color: #7E7E82;
    background-color: transparent;
    font-family: TT Lakes;
    font-size: 16px;


}

.special_price {
    width: 148.866px;
    margin-left: 25.13px;
    text-wrap: nowrap;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    background-color: transparent;
}

.text_photo {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   margin-right: 24px;
   margin-left: 24px;
}

.about-us {
    width: 312px;
    height: 160px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.2px;
}

@media (max-width:785px) {
    .brands, 
    .adress,
    .reviews,
    .recomend_us {
    display: none;
    }   
}


button {
    display: flex;
    align-items: center;
    color: #1B1C21;
    background-color: transparent;
    border-style: none;
}

.expand_down {
    margin-left:-5px;
} 

.read_more {
    width: 100px; 
    height: 24px;
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; 
    letter-spacing: -0.2px;
    margin-left: 8px;
}

.photo {
    width: 360px;
    height: 208px;
    border-radius: 6px;
    flex-shrink: 0;
    margin-top: 14px;
}

@media (max-width: 785px) {
    .photoPC {
        display: none;
    }
}
