html {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
    url('../Fonts/TTLakes-Regular.woff') format('embedded-opentype'),
    url('../Fonts/TTLakes-Regular.woff') format('woff'),
    url('../Fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes bold';
    src: 
    url('../Fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Bold.woff') format('woff'),
    url('../Fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
  .brands {
    margin: 0px;
    padding: 0px;
    background-color: #f2f2f2;
    border-top: 2px solid #bbfceb;
    max-width: auto;
    max-height: 234px;
  }
  
  .brands__title {
    color: #7E7E82;
    font-family: 'TT Lakes';
    font-size: 15px;
    background: linear-gradient(90deg, #F8F8F8 5%, #FFFFFF 100%);
    max-height: 80px;
    line-height: 25px;
    padding: 15px;
    
  }
  
  .swiper-container 
  .swiper {
    padding-bottom: 28px;
    background-color: #f2f2f2;
    
  }
  
  @media (min-width: 768px) {
    .swiper-container 
    .swiper {
      padding-bottom: 0px;
    }
  }
  
  .swiper-wrapper {
    list-style: none;
    padding-left: 8px;
  }
  
  @media (min-width: 768px) {
    .swiper-container {
      max-width: max-content;
    }
  }
  
  @media (min-width: 768px) {
    .swiper-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }
  
  .swiper 
  .swiper-slide {
    background-color:#fff;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    height: 72px;
    position: relative;
    width: 240px;
    margin: 0 8px;
  }
  
  @media (min-width: 768px) {
    .swiper 
    .swiper-slide {
      width: 224px;
      height: 72px;
      margin-bottom: 16px;
    }
  }
  
  @media (min-width: 1120px) {
    .swiper 
    .swiper-slide {
      width: 240px;
      height: 72px;
    }
  }
  
  .swiper-img {
    position: absolute;
    margin: auto 5px auto 15px;
    top: 0;
    bottom: 0;
    
  }
  
  .swiper-btn {
    margin: 16px 16px 16px auto;
    padding: 0;
    float: right;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .swiper 
  .swiper-pagination-bullet {
    background-color: #B5B6BC;
    width: 14px;
    height: 14px;
    
  }
  
  @media (min-width: 768px) {
    .swiper 
    .swiper-pagination-bullet {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .hidden-item {
      display: none !important;
    }
  }
  
  @media (min-width: 967px) {
    .hidden-item:nth-child(-n+8) {
      display: block !important;
    }
  }

  .btn-show-all {
    display: flex;
  }
  
    @media (max-width: 767px) {
    .btn-show-all {
      display: none;
    }
    }

    .btn-more {
    display: flex;
    justify-content: center;
    border: none;
    background-color: #f2f2f2;
    font-size: 15px;
    font-family: 'TT Lakes';
  }
  
  .read-more {
    margin: 0;
    margin-left: 14px;
    padding: 0;
  }
  

  

  

