html {
    box-sizing: border-box;
}

@font-face {
    font-family: 'TT Lakes';
    src: 
    url('../Fonts/TTLakes-Regular.woff') format('embedded-opentype'),
    url('../Fonts/TTLakes-Regular.woff') format('woff'),
    url('../Fonts/TTLakes-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'TT Lakes bold';
    src: 
    url('../Fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/TTLakes-Bold.woff') format('woff'),
    url('../Fonts/TTLakes-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


body {
    margin: 0;
    max-width: auto;
    font-family: "TT Lakes";
    max-height: auto;
}

@media (min-width: 767px) {
body {
    min-width: 767px;
    min-height: 504px;
}
}

@media (min-width: 1119px) {
    body {
        min-width: 1120px;
        min-height: 535px;
    }
}


.header {
    border-bottom: 1px solid #D9FFF5;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding: 0 0 0 16px;
    flex-grow: 1;
}

.header_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding: 0px;
    flex-grow: 1;
}

.header_left > li {
    padding-right: 16px;

}

.header_right > li {
    padding-right: 16px;

}

@media (min-width: 1119px) {
    .header {
        display: none;
    }
}


@media (max-width:426px) {  
    .divider_1, 
    .call,
    .chat, 
    .profile, 
    .repair_status  {
        display: none;
    }
    }

main {
    margin: 0;
    background-color: #F8F8F8;
}

@media (min-width: 767px) {
    main {
        min-width: 768px;
        min-height: 416px;
    }
    }
    
@media (min-width: 1119px) {
    main {
            min-width: 1120px;
            min-height: 535px;
            padding: 20px 24px 0 0;
        }
    }

h1 {
    color: #1B1C21;
    font-family: TT Lakes bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    padding-left: 12px;
    letter-spacing: -0.6px;
}

@media (max-width:1119px) {

    .highlightPC {
        display: none;
        }
    }
@media (min-width: 1119px) {
        .highlight {
            display: none;
            }
        .h1_svg {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 25px;
            }
        .repair_status {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .repairPC {
            margin-right: 30px;
            margin-left: 10px;
        }
        .checkstatusPC {
            margin-left: 10px;
        }
}

.header-title {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    list-style-type: none;
    margin-left: -23px;
    margin-bottom: -15px;
    margin-top: -10px;
    height: 65px;
}


.menu:hover { 
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #FFF; 
    letter-spacing: normal;    
    padding: 8px 9px 8px 16px;
}

::-webkit-scrollbar {
    width: 0;
  }


a {
    text-decoration: none;
    color: #7E7E82;
    white-space: nowrap;
}

@media (max-width: 1119px) {
.brands,
.repair_status {
    display: none;
}
}

.menu {
    text-wrap: nowrap;
    color: #7E7E82;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-right: 35px;
    margin-left: px;
}

@media (min-width: 767px) {
.text_photo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -40px;
}
}

.about-us {
    margin-right: 16px;
    margin-left: 16px;
    
}

.text_about, .text_about2 {
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.2px;
}


@media (max-width:767px) {
.text_about2 {
    display: none;
}
}

@media (max-width:1119px) {
    .recomend_us {
        display: none;
    }

}

@media (min-width:1119px) {
.text_photo {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: -120px;
}
}

.jpg320 {
    text-align: center;
}

.photoTAB {
    border-radius: 7px;
    margin-top: 45px;
    margin-right: 25px;
}

.photoPC {
    border-radius: 7px;
    margin-top: 130px;
    margin-right: 25px;
}

@media (max-width: 767px) {
    .photoPC,
    .photoTAB {
        display: none;
    }
}

@media (min-width: 767px) {
    .text_photo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    .photo,
    .photoPC {
    display: none;
}
}


@media (min-width: 1119px) {
    .photoPC {
        display: block;
    }
    .photoTAB {
        display: none;
    }
}

.read_more {
    color: #1B1C21;
    font-family: TT Lakes;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    margin-left: 8px;
}
    
.expand {
    display: flex;
    align-items: center;
    color: #1B1C21;
    background-color: #F8F8F8;
    border-style: none;

}

.expand_down {
    margin-left:-5px;
}
